@tailwind base;

@tailwind components;

@tailwind utilities;

main {
  @apply px-3 md:px-5;

  margin-top: calc((18.10vw) + 40px);
}

@media screen and (min-width: 768px) {
  main {
    margin-top: calc((8.10vw) + 40px);
  }
}

.ion-page {
  position: static !important;
  width: 100%;
  height: 100%;
}

.card-container {
  margin-bottom: 60vh;
}
